@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}
@layer components {
  .row-menu {
    @apply flex justify-start items-center bg-opacity-30 h-full w-full gap-5;
  }
  .cell-menu {
    @apply flex  justify-end items-center bg-opacity-30 h-full w-full gap-5;
  }
  .menu-button {
    @apply hover:bg-slate-300 my-3 p-2 rounded bg-slate-200 text-slate-600 duration-200 aspect-square border-slate-300 cursor-pointer;
  }
  .add-button {
    @apply text-white bg-blue-600 h-full whitespace-nowrap w-fit font-light text-xl px-4 rounded my-4 border-2 border-blue-600 hover:bg-transparent hover:text-blue-600 duration-200 ease-in-out;
  }
  .panel {
    @apply flex w-full h-14 shadow-md justify-center items-center px-4 my-3 py-1 gap-4 bg-slate-100;
  }
}
